* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    padding-top: 2vw;
    background-color:sandybrown;
}

h1 {
    font-size: 8vw;
    margin-top: 5vw;
    margin-left: 2vw;
}

p {
    font-size: 3vw;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}